#!/usr/bin/env python
# -*- coding: utf-8 -*-

__author__ = 'Shinichi Nakagawa'

ENCODING = 'utf-8'

PARAMS = {
    'dialect': 'mysql',
    'driver': 'pymysql',
    'user': 'mysql user name',
    'password': 'mysql user password',
    'host': 'host name',
    'port': '3306',
    'database': 'database name'

}

CONNECTION_TEXT = "{dialect}+{driver}://{user}:{password}@{host}:{port}/{database}".format(**PARAMS)
